@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.mdl-layout__header-row {
    padding: 0 25px 0 25px;
}

.mdl-grid {
    padding: 0px;
}

.mdl-cell {
    margin: 0px;
}

.mdl-textfield--expandable .mdl-button--icon {
    top: 10px;
}

.mdl-card {
    overflow: visible;
    width:33%;
    min-width: 360px;
	*max-width: 768px;
}

.mdl-card__supporting-text {
    padding: 0;
    width: 100%;
}

.mdl-list__item {
    letter-spacing: 0em;
}
.mdl-list {
    display: inline;
    padding: 0;
}
	
.mdl-shadow--2dp {
    box-shadow: 0 1px 1px -2px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.12);
}

.bd-smoothscroll-3 {
    position: fixed;
    right: auto;
    left: 25%;
    top: 50%;
    bottom: auto;
    z-index: 9999;
}


@media only screen and (max-width: 768px){
    .fadeshow {
       display: none;
    }
}
@media only screen and (min-width: 769px){
    .fadeshow {
       display: flex;
    }
}

@media only screen and (max-width: 768px){
    #maxsize {
        width: 100%;
    }
}
